/*
Colors
*/

$black: #010000;
$white: #f9f9f9;
$grey: #A3A3A3;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;


/*
Mixins
*/

@mixin translateY($e) {
    -webkit-transform: translateY($e);
        -moz-transform: translateY($e);
            transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
        -moz-transition: $e;
            transition: $e;
}


/*
Common styles
*/

body {
    font-size: 18px;
    color: $black;
}

a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;
}


