@import '_config.scss';
@import '_calendar.scss';
@import '_rangeSlider.scss';
@import url('https://fonts.googleapis.com/css?family=Overpass:300,700');


body{
    padding: 90px 0 0 0;
    margin: 0;
    color: $grey;
    background: $midnightBlue200;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

header {
    position: fixed;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    height: 90px;
    top: 0;
    z-index: 1;


    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {

        ul, li {
            color: $headerGrey;
            list-style: none;
            display: inline-block;
            line-height: 90px;
            padding: 0;

            a {
                font-size: 15px;
                line-height: normal;
                color: $white;
                padding: 0 2em;

            }

            &:first-child a {
                padding-left: 1em;
            }
        }

    }

}

li {

    i{
        color: $grey;
        font-weight: 100;
    }
}

.container-fluid {
    display: flex;

    &.main{
        align-items: stretch;
        min-height: calc(100vh - 90px);
    }

    .col-2{
        flex: 1;

        &#filter, &#selected {
            box-shadow: 10px 0 15px -3px rgba(0,0,0,.24);
        }

        &#filter{
            padding: 0;
            z-index: 2;

            & > div{
                position: fixed !important;
                width: 16em;
                left: 1.7em;
            }

            .rw-widget-container, .rw-multiselect{
                background: transparent
            }

            .rw-widget, .input-range, .month-picker {
                margin: 1em 0;
                display: block;
                width: inherit;

                .rw-widget-input {

                    & > div {
                        padding: 0.5em 0.5em;

                        .rw-multiselect-tag {
                            margin: 0.15em 0.3em 0.15em 0;
                            display: table;
                            clear: none;
                            float: left;
                        }
                    }
                }
            }
            .input-range {
                margin: 2.4em 0 !important;
            }

            .rw-input-reset {
                text-transform: capitalize;

                &[size="2"]{
                    display: none;
                }
            }

            .month-picker{

                .box{
                    display: block;
                    border: solid 1px rgb(230, 230, 230);
                    border-radius: 4px;
                    padding: 1em;

                    label{

                    }
                }
            }
        }

        &#selected {
            z-index: 1;

            & > div {
                position: fixed;
                width: 20.3em;
            }

            table{

                tbody{

                    tr {
                        box-shadow: 0px 1em 1px -1em $white;
                    }

                    td{
                        color: $white;
                        padding: 1.3em 0.9em;

                        span{
                            display: block;
                            color: $grey;
                            text-transform: uppercase;
                            padding: 1em 0 0;
                            font-size: 0.8em
                        }

                        button {
                            border: none;
                            background: transparent;
                            color: $white;
                        }
                    }
                }
            }

            .selectedButtons {
                display: flex;
                padding: 1.4em 1em;

                a {
                    flex: 1;

                    button {
                        color: $grey;
                        background: $midnightBlue100;
                        width: 100%;
                        padding: 1.2em 0;
                        text-transform: uppercase;
                        border: none;
                        cursor: pointer;
                        border-left: 1px solid $midnightBlue200;

                        &:hover{
                            color: $white;
                            background-color: $blue;
                        }
                    }

                    &:first-child button{
                        border-radius: 2px 0 0 2px;
                        border-left: none;
                    }

                    &:last-child button{
                        border-radius: 0 2px 2px 0;
                    }
                }
            }
        }


    }

    .col-8{
        flex: 4;

        &.main-content{
            padding: 0;
            background: $midnightBlue500;

            table {

                td {

                    &:nth-child(1){
                        text-align: center
                    }
                }

                &.table-fixed{
                    thead{
                        position: relative;
                    }
                }
            }
        }
    }

    .col-10{
        flex: 5;
    }

    table {
        width: 100%;
        border-spacing: 0;

        td, th{
            padding: 0.9rem;
        }

        th {
            color: $darkGrey !important;
            font-weight: 100;
            background: $midnightBlue800 !important;
            border: none;
            text-align: left;
        }

        td {
            border: none;
        }
    }
}

