@import '_config.scss';
@import '_calendar.scss';
@import '_rangeSlider.scss';
@import '_loadingSpinner.scss';
@import '_circle.scss';
@import url('https://fonts.googleapis.com/css?family=Overpass:300,700');

@font-face {
	font-family: 'icomoon';
	src: url('../icons/fonts/icomoon.eot?9vldap');
	src: url('../icons/fonts/icomoon.eot?9vldap#iefix')
			format('embedded-opentype'),
		url('../icons/fonts/icomoon.ttf?9vldap') format('truetype'),
		url('../icons/fonts/icomoon.woff?9vldap') format('woff'),
		url('../icons/fonts/icomoon.svg?9vldap#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
	content: '\e90a';
}
.icon-arrow_drop_up:before {
	content: '\e906';
}
.icon-arrow_drop_down:before {
	content: '\e907';
}
.icon-image:before {
	content: '\e909';
}
.icon-heart:before {
	content: '\e904';
}
.icon-list:before {
	content: '\e903';
}
.icon-narrow:before {
	content: '\e908';
}
.icon-in:before {
	content: '\e902';
}
.icon-more:before {
	content: '\e900';
}
.icon-close:before {
	content: '\e901';
}
.icon-hour-glass:before {
	content: '\e979';
}
.icon-pie-chart:before {
	content: '\e99a';
}
.icon-stats-bars:before {
	content: '\e99c';
}
.icon-eye:before {
	content: '\e9ce';
}
.icon-eye-blocked:before {
	content: '\e9d1';
}
.icon-warning:before {
	content: '\ea07';
}
.icon-notification:before {
	content: '\ea08';
}
.icon-question:before {
	content: '\ea09';
}
.icon-info:before {
	content: '\ea0c';
}
.icon-blocked:before {
	content: '\ea0e';
}
.icon-cross:before {
	content: '\ea0f';
}
.icon-checkmark:before {
	content: '\ea10';
}
.icon-play:before {
	content: '\ea15';
}
.icon-sort-alpha-asc:before {
	content: '\ea48';
}
.icon-file-excel:before {
	content: '\eae2';
}
.icon-life-bouy:before {
	content: '\e905';
}

body {
	padding: 90px 0 0 0;
	margin: 0;
	color: $grey;
	background: $midnightBlue200;
	background-image: linear-gradient(to left, #0a0d23, #0d0a39);
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
	word-wrap: break-word;
	font-weight: 600;
	letter-spacing: 0.03em;

	@media screen and (max-width: 1280px) {
		& {
			font-size: 0.72em;
		}
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

header {
	position: fixed;
	display: block;
	width: 100%;
	background: $black;
	color: $white;
	height: 90px;
	top: 0;
	z-index: 10;

	.logo {
		img {
			padding: 2.2em 0 0;
		}
	}

	nav,
	nav ul,
	nav ul li {
		margin: 0;
		padding: 0;
	}

	nav {
		ul,
		li {
			color: $headerGrey;
			list-style: none;
			display: inline-block;
			line-height: 90px;
			padding: 0;

			a {
				font-size: 1em;
				line-height: normal;
				color: $white;
				padding: 0 2em;

				&:hover {
					text-decoration: none;
					color: $headerGrey;
				}
			}

			&:first-child a {
				padding-left: 1em;
			}
		}

		& > a {
			float: right;
			background: $blue;
			padding: 0 1.5em;
			text-transform: uppercase;
			height: 45px;
			line-height: 45px;
			margin: 20px 0;
			color: $white;
			border-radius: 3px;
			font-size: 0.9em;
			letter-spacing: 0.06em;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: $white;
				background-color: $lightBlue;
			}
		}
	}
}

li {
	i {
		color: $grey;
		font-weight: 600;
	}
}

#filter {
	&,
	& > * {
		@include transition(0.3s ease-in-out);
	}

	.toggleButton {
		> div {
			float: right;
		}
	}
}
.hide {
	#filter {
		&,
		& > * {
			width: 0;
			flex: 0;
			overflow: hidden;
		}
	}
	.col-8 {
		width: 83.3% !important;
	}
}

.container-fluid {
	display: flex;

	&.main {
		align-items: stretch;
		min-height: calc(100vh - 90px);
		padding: 0;

		@include transition(0.3s ease-in-out);

		&.report-view {
			left: -16.66%;
			position: absolute;

			.col-8.main-content {
				flex: 0 0 83.3%;
				max-width: inherit;
			}
		}
	}

	.col-2 {
		&#filter,
		&#selected {
			padding: 0;
			box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.4);
		}

		&#filter {
			padding: 0;
			z-index: 2;

			& > div {
				& > div {
					padding: 0em 1em;
				}
			}
		}

		&#selected {
			z-index: 1;

			table {
				tbody {
					tr {
						box-shadow: 0px 1em 1px -1em $white;

						td {
							color: $white;
							padding: 1.3em 0.9em;
							word-break: break-all;

							span {
								display: block;
								color: $grey;
								text-transform: uppercase;
								padding: 1em 0 0;
								font-size: 0.8em;
							}

							&.selected-icons {
								span {
									cursor: pointer;
									text-align: center;
									font-size: 1.1em;
									padding: 0.4em 0;

									&:hover {
										color: $blue;
									}
								}

								a span {
									font-size: 1.3em;
								}
							}
						}

						&.selectedButtons {
							padding: 0;

							td {
								div {
									display: flex;
									justify-content: space-between;

									a {
										flex: 1;

										&:first-child button {
											border-radius: 2px 0 0 2px;
											border-left: none;
										}

										&:last-child button {
											border-radius: 0 2px 2px 0;
										}
									}
								}
							}
						}
					}
				}
			}

			.breakoutTitle {
				font-size: 1em;
				padding: 1em;
				color: #007bff;
				background-color: $midnightBlue800;
				letter-spacing: 0.05em;
				cursor: pointer;
				text-transform: uppercase;
			}

			.breakout {
				overflow: hidden;
				max-height: 0;
				transition: all 0.4s ease-out;
				padding: 0 1em;
				opacity: 0;

				&.open {
					overflow: initial;
					max-height: 500px;
					opacity: 1;
					position: relative;
					z-index: 5;
				}
			}
		}

		&.sidebar {
			& > div {
				position: fixed !important;
				width: 16.666667%;

				& > .table {
					margin-bottom: 0;
				}

				& > div {
					height: calc(100vh - 139px);
					overflow-y: auto;
					overflow-x: hidden;
				}
			}

			&#selected {
				& > div {
					& > div.list-selected {
						height: calc(100vh - 219px);

						table {
							position: relative;
							z-index: 4;
							background-color: rgba(255, 255, 255, 0.07);
						}
					}
				}
			}
		}
	}

	.col-8 {
		flex: 4;
		max-width: inherit;
		@include transition(0.3s ease-in-out);

		&.main-content {
			padding: 0;
			background: rgba(255, 255, 255, 0.082);
			overflow-x: auto;
			@include transition(0.3s ease-in-out);

			table {
				width: 100%;
				margin: 0;

				tbody {
					max-height: calc(100vh - 140px);
					overflow-y: auto;

					tr {
						&:after {
							content: ' ';
							display: block;
							visibility: hidden;
							clear: both;
						}

						td {
							a {
								display: block;
								text-align: center;
							}
						}
					}
				}

				thead {
					text-transform: uppercase;
					/* fallback */

					th {
						height: 50px;
						line-height: 50px;
						padding: 0 10px;

						span {
							font-size: 23px;
							bottom: -3px;
							position: relative;
						}
					}
				}

				&.table-fixed {
					tbody td,
					thead th {
						&:nth-child(1) {
							text-align: center;
						}
						&:last-child {
							text-align: center;
							color: rgba(255, 255, 255, 0.1);
						}
					}
				}
			}

			.sticky-table {
				height: calc(100vh - 90px);

				.sticky-table-table {
					min-width: 100%;
				}

				.sticky-table-header-wrapper {
					.sticky-table-cell {
						text-align: left;
						text-transform: uppercase;
						letter-spacing: 0.08em;
						line-height: 1.6em;
						padding: 1em;
						font-size: 0.9em;

						span.sampleSize {
							padding-left: 5px;
							opacity: 0.5;
							font-weight: 600;
							border-left: solid 2px rgba(255, 255, 255, 0.4);
							margin-left: 5px;
						}
					}

					.sticky-table-corner {
						.sticky-table-cell {
							padding: 0.4em 1em;
						}
					}
				}

				.sticky-table-y-wrapper {
					overflow-y: auto;
					overflow-x: hidden;

					.sticky-table-x-wrapper {
						overflow-x: auto;
					}
				}

				.sticky-table-y-wrapper,
				.sticky-table-x-wrapper {
					.sticky-table-column {
						.level1 {
							div {
								font-weight: 900;
								color: $white;
							}
						}

						.level2 {
							div {
								color: $white;
								font-weight: 600;
							}
						}

						.level3 {
							div {
								padding-left: 3em;
								font-weight: 600;
								font-size: 0.83em;
							}
						}

						.level4 {
							div {
								background: $midnightBlue500;
								padding-left: 3em;
								font-weight: 600;
								font-size: 0.83em;
							}
						}

						.sticky-table-cell {
							text-align: left;
							font-weight: 900;
							font-size: 0.9em;
							text-transform: uppercase;
							letter-spacing: 0.08em;
							line-height: 1.9em;
						}
					}

					.sticky-table-row {
						&.level1 {
							background-color: $lightBlue;
							border-bottom: 5px solid $midnightBlue500;

							div {
								color: $white;
							}
						}

						&.level2 {
							background-color: $midnightBlue100;
						}

						&.level4 {
							background-color: $midnightBlue500;
						}

						.sticky-table-cell {
							text-align: left;
							border-right: solid 1px $midnightBlue800;
							color: $grey;
							padding: 0.9em 1.4em;
							line-height: 0;

							&:nth-child(1) {
								line-height: 1.9em;
							}

							.color-tag {
								span {
									padding: 0.5em 0.9em 0.3em;
									font-size: 0.83em;
									border-radius: 3px;
									margin: 0 0.8em 0;
									display: inline-block;
									color: #fff;
									letter-spacing: 0.03em;
									top: -0.1em;
									position: relative;
									min-width: 30px;
									text-align: center;
									line-height: 0.83em;
									border-width: 1px;

									&.green {
										color: #2be32f;
									}

									&.subtle-green {
										color: #248132;
									}

									&.normal {
										color: $white;
									}

									&.subtle-red {
										color: #992530;
									}

									&.red {
										color: #ff132b;
									}
								}
							}
						}

						&.table-fixed {
							thead {
								position: relative;
							}
						}

						a {
							&:hover {
								color: $white;
								text-decoration: none;
							}

							.icon-more {
								color: $lightGrey;
								font-size: 1.6em;
							}
						}
					}
				}
			}

			button {
				&.download {
					display: inline;
					text-transform: uppercase;
					color: $white;
					background: $blue;
					padding: 0.7em 1.3em 0.6em;
					border-radius: 3px;
					cursor: pointer;
					font-size: 0.9em;
					border: none;

					&:hover {
						background: rgba(255, 255, 255, 0.3);
					}

					span {
						padding-right: 1em;
						font-size: 1.5em;
						line-height: 0;
						position: relative;
						top: 0.1em;
					}
				}
			}

			.pull-in-sidebar {
				position: fixed;
				height: calc(100% - 90px);
				width: 25%;
				bottom: 0;
				right: -25%;
				background: $midnightBlue200;
				z-index: 10;
				box-shadow: -20px 0 60px 4px rgba(0, 0, 0, 0.5);
				@include transition(0.3s ease-in-out);

				&.active {
					right: 0;
				}

				.toggle-sidebar {
					position: absolute;
					left: -8em;
					width: 13em;
					background: $midnightBlue800;
					color: $white;
					border: none;
					padding: 1em 0;
					top: 50%;
					margin-top: -25%;
					cursor: pointer;
					transform: rotate(-90deg);
					-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				}

				table {
					z-index: 2;
					position: relative;

					tr {
						display: flex;

						td,
						th {
							flex: 1;
							text-align: center;
						}

						td {
							height: 56px;
						}

						th {
							background: $midnightBlue800;
							color: $white;
							height: 49px;
						}

						&.level1 {
							background: $lightBlue;
						}

						&.level2 {
							background: $midnightBlue100;
						}

						&.level3 {
							background: $midnightBlue200;
						}

						&.level4 {
							background: $midnightBlue500;
						}
					}
				}
			}
			.rc-checkbox-input {
				width: 100%;
				height: 100%;
			}
			.rc-checkbox-checked .rc-checkbox-inner {
				background-color: $blue;
				border-color: $blue;

				&::after {
					border-color: rgba(255, 255, 255, 0.8);
				}
			}
			.rc-checkbox-inner {
				width: 26px;
				height: 26px;
				border-color: rgba(255, 255, 255, 0.1);
				background-color: rgba(255, 255, 255, 0.05);
				@include transition(0.2s ease-in-out);

				&::after {
					left: 9px;
					top: 4px;
					width: 6px;
					height: 12px;
					border-color: rgba(255, 255, 255, 0.1);
					border-width: 3px;
					@include transition(0.2s ease-in-out);
				}
			}
		}
	}

	.col-10 {
		flex: 5;
	}

	table {
		width: 100%;
		border-spacing: 0;

		td,
		th {
			padding: 0.9rem;
		}

		th {
			color: $darkGrey !important;
			font-weight: 600;
			background: $midnightBlue800 !important;
			border: none;
			text-align: left;
			letter-spacing: 0.05em;
			font-size: 0.9em;
		}

		td {
			border: none;
		}
	}
}

button {
	color: $white;
	background: $blue;
	width: 100%;
	padding: 1em 0;
	font-size: .7em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	border-left: 1px solid
		$midnightBlue200;

	&:hover {
		background-color: $midnightBlue100;
	}
}

.react-tabs {
	&__tab-panel > div {
		height: calc(100vh - 200px);
	}

	ul.react-tabs__tab-list {
		display: inline-block;
		height: 1%;
		display: block;
		margin: 2em 0;

		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: ' ';
			clear: both;
			height: 0;
		}

		li {
			display: inline;
			list-style: none;
			text-transform: uppercase;
			color: $white;
			background: $midnightBlue100;
			margin: 2em 0 1.5em 0.8em;
			padding: 0.8em 1.3em;
			border-radius: 3px;
			cursor: pointer;
			font-size: 0.9em;

			&.react-tabs__tab--selected {
				background: $lightBlue;
			}
		}
	}

	ul.row {
		padding: 0;

		li {
			list-style: none;
		}
	}
}

.import-main {
	margin: 6em auto 0;
	padding: 7em 5em;

	& > div {
		flex: 1;

		& > div {
			text-align: center;

			button {
				background-color: $blue;
				color: $white;
				text-transform: uppercase;
				border: none;
				padding: 1.4em;
				width: 220px;
				margin: 4em 0 1em;
				border-radius: 3px;
				letter-spacing: 0.05em;
				cursor: pointer;
			}

			span {
				color: $grey;
				text-transform: uppercase;
				font-size: 0.7em;
			}
		}
	}
}

.hero-image {
	min-height: 35em;
	background-position: center center;
	background-size: cover;
	position: relative;
	//filter: blur(10px);

	&:after {
		content: '';
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		left: 0;
		z-index: 0;
	}

	div {
		padding: 14em 0 6em;
		z-index: 1;

		h1 {
			font-weight: 900;
			color: $white;
			font-size: 3em;
			padding: 1.7em 0 0.7em;
		}

		p {
			color: $lightGrey;
			font-size: 1.3em;
		}

		span {
			color: white;
			font-size: 0.8em;
			margin-right: 1.5em;
		}
	}
}

.single {
	padding: 5em 0 0;

	p {
		font-size: 1.3em;
		color: $lightGrey;
	}
	.move-up {
		margin-top: -27.7em;
		padding: 0;
		height: 1%;

		.watch-ad {
			cursor: pointer;
			position: relative;

			img {
				width: 100%;
				max-width: 100%;
				position: relative;
			}

			span {
				user-select: none;
				color: $white;
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				top: 50%;
				font-size: 80px;
				margin-top: -40px;
				text-align: center;
				text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.7);
			}
		}

		table {
			background: $white;

			tr {
				border-bottom: solid 1px #d8d8d8;

				td {
					padding: 1.2rem 0 1.2rem 2rem;

					&:last-child {
						color: $blackish;
						font-weight: 900;
						padding-left: 0;
					}
				}
			}
		}

		.cpa {
			margin-top: 1em;
		}
	}

	.react-tabs__tab-list {
		li {
			display: inline-table;

			.c100 {
				cursor: pointer;

				&.big {
					font-size: 20rem;
				}

				&.medium {
					margin: 0 0 0.35em;
					font-size: 14rem;
				}

				span {
					color: #d3d3d3;
					text-transform: uppercase;
					font-size: 0.07em;
					padding: 0 5em 0 3em;
					text-align: left;
					box-sizing: border-box;
					word-break: inherit;
					word-wrap: initial;
					white-space: normal;
					line-height: 1.2em;
					flex: 1;
					top: -15%;
					margin-top: 50%;
					width: 100%;
					letter-spacing: 0.04em;
					z-index: 0;

					span {
						font-size: 2.3em;
						display: block;
						line-height: 0;
						text-align: left;
						padding: 0;
						line-height: 1em;
						margin-top: 0;

						i {
							font-size: 0.4em;
						}
					}
				}
			}
		}
	}
}

.login-screen {
	display: flex;
	align-items: center;
	height: 100vh;
	margin-top: -90px;

	> div {
		&:first-child {
			flex: 2;
			padding: 6em;

			img {
				width: 150px;
			}

			h1 {
				color: $white;
				font-weight: 600;
				font-size: 3em;
				padding: 1.7em 0 0.8em;
			}

			p {
				font-size: 1.3em;
				line-height: 2em;
			}

			button {
				cursor: pointer;
				background: $blue;
				border: none;
				color: $white;
				padding: 0.7em 2.3em;
				font-size: 0.92em;
				letter-spacing: 0.06em;
				border-radius: 3px;
				margin: 2em 0 0;
			}
		}

		&:last-child {
			flex: 3;
			background: black;
			height: 100%;
			position: relative;
			overflow: hidden;

			.fullscreen-bg {
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				overflow: hidden;
				z-index: -100;

				.fullscreen-bg__video {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
				}
			}
		}
	}

	a {
		font-size: 1.1em;
		color: white;
		padding: 0 1em;
	}
}

.pointer{
	cursor: pointer;
}

.boxed {
	background-color: rgba(255, 255, 255, 0.05);
	margin: 6em auto 0;
	padding: 7em 5em;
}

.user-screen {
	.btn {
		float: right;
	}

	tr td:last-child,
	tr th:last-child {
		text-align: center;
	}
}

.recharts-wrapper {
	g.recharts-layer text {
		fill: $grey;
	}

	.recharts-text.recharts-label tspan {
		fill: $white;
	}
}

// ScrollBar
::-webkit-scrollbar {
	width: 6px;

	/* Track */
	&-track {
		background-color: rgba(0, 0, 0, 0.1);
	}

	/* Handle */
	&-thumb {
		background: $blue;
		border-radius: 3px;
	}

	/* Handle on hover */
	&-thumb:hover {
		background: $midnightBlue200;
	}
}

// Lightbox
.inner___1rfRQ {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	.image___2FLq2 {
		position: initial !important;
		top: inherit;
		bottom: inherit;
		left: inherit;
		right: inherit;
	}
}

/* FORM STYLES */
.rw-widget-container,
.rw-multiselect,
.Select-control,
.Select.is-focused > .Select-control {
	background: transparent;
	font-weight: 600;
}

.Select--multi .Select-value {
	background: $white;
	padding-top: 2px;
}

.Select-control {
	height: 3em;
}

.Select-placeholder {
	top: 0.3em;
	left: 0.3em;
}

.Select--multi .Select-value {
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.Select--multi .Select-multi-value-wrapper {
	padding: 0.2em 0;
}

.Select.is-focused:not(.is-open) > .Select-control {
	background: rgba(255, 255, 255, 0.13);
}

.Select--multi,
.rw-widget,
.input-range,
.month-picker {
	margin: 1em 0;
	display: block;
	width: 100%;

	.rw-widget-input,
	.Select-placeholder {
		& > div {
			padding: 0.5em 0.5em;

			.rw-multiselect-tag {
				margin: 0.15em 0.3em 0.15em 0;
				display: table;
				clear: none;
				float: left;
			}
		}

		.rw-dropdown-list-input {
			padding: 0.8em 1.3em !important;
			color: white;
		}
	}

	label {
		margin: 0;
	}
}
.input-range {
	margin: 1.3em 0 2.4em 0 !important;
}

.rw-input-reset {
	text-transform: capitalize;

	&[size='2'] {
		display: none;
	}
}

.month-picker {
	.box {
		display: block;
		border: solid 1px rgb(230, 230, 230);
		border-radius: 4px;
		padding: 1em;
	}
}

.form-control-lg {
	font-size: 0.97em;
	padding: 1em;
	margin-top: 1em;
	color: $white;
}

.input-group {
	margin: 2em 0 0 !important;

	.form-control,
	.btn {
		padding: 0.8rem 0.75rem;
	}

	.form-control {
		background: rgba(0, 0, 0, 0.25);
		border: none;
		color: $white;
		font-weight: 600;
	}

	.btn {
		background: $blue;
		border: none;
		border-radius: 0 0.25rem 0.25rem 0;
		color: white;
		text-transform: uppercase;
		font-size: 0.9rem;
		letter-spacing: 0.05em;
		cursor: pointer;
	}
}

.rw-btn,
.rw-input-reset,
.rw-input,
.rw-filter-input {
	color: white;
}

.lightbox {
	width: 100%;
	background: $white;
	padding: 2em 3em;
	box-sizing: content-box;
	border-radius: 0.3em;

	div.form {
		.btn {
			color: #f9f9f9;
			background: #414bff;
			background-color: rgb(65, 75, 255);
			width: 100%;
			padding: 1em 0;
			font-size: 0.9em;
			text-transform: uppercase;
			border: none;
			border-left-color: currentcolor;
			border-left-style: none;
			border-left-width: medium;
			cursor: pointer;
		}

		.form-control-lg,
		.rw-btn,
		.rw-filter-input,
		.rw-input,
		.rw-input-reset,
		.input-range .rw-widget-input .rw-dropdown-list-input,
		.month-picker .rw-widget-input .rw-dropdown-list-input,
		.rw-widget .rw-widget-input .rw-dropdown-list-input,
		.Select-placeholder {
			color: #010000;
		}

		& > span {
			color: red;
			border-bottom: solid 2px red;
			width: 100%;
			display: block;
		}
	}
}

.inner___1rfRQ .image___2FLq2 {
	width: 600px;
	max-width: 70%;
}

.singleValueCell {
	cursor: pointer;

	h6 {
		text-transform: uppercase;
		color: #f9f9f9;
		word-break: unset;
		width: 40%;
		word-wrap: initial;
		font-size: 1.2em;
		letter-spacing: 0.06em;
	}

	h4 {
		font-size: 4.5em;

		span {
			font-size: 0.25em;
			color: rgba(255, 255, 255, 0.3);
		}
	}
}

.rw-multiselect-tag-btn {
	color: black;
}

h1,
h4 {
	color: $white;
	font-weight: 900;
}

.icon-heart {
	cursor: pointer;

	&.favourite {
		color: #bf0a1b;
	}
}

hr {
	display: block;
	width: 100%;
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	margin: 2em 0 3em;
}

.notification-screen {
	.react-tabs ul.react-tabs__tab-list {
		padding-left: 0;

		li {
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

$joyride-color: $midnightBlue500;
$joyride-beacon-color: $blue;
@import '../../../node_modules/react-joyride/lib/react-joyride';
